# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
*.pyc
*.pyo
*.pyd

# IDEs and editors
.idea/
.vscode/
# .windsurf/
*.swp
*.swo
*~

# Environment variables
.env

# Logs
*.log

# Build and distribution
dist/
build/
*.egg-info/

# Debug
# debug/

# Testing
htmlcov/
.coverage
.coverage.*
